---
import Layout from "../layouts/Layout.astro";
import NavBar from "../components/NavBar.astro";
import Masthead from "../components/Masthead.astro";
import Card from "../components/Card.astro";
import Footer from "../components/Footer.astro";

import releases from "../data/releases.json";
---

<Layout title="Room of Wires - Fragile Melodic Moments">
  <main>
    <div
      class="bg-camo bg-[url('/images/background.jpg')] bg-cover bg-no-repeat"
    >
      <NavBar location="releases" />
      <div
        class="container pt-[72px] px-4 mx-auto max-w-md lg:max-w-6xl md:max-w-3xl"
      >
        <Masthead
          title="RELEASES"
          tagline="The full audio story from ground zero"
        />
        <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-5 pb-4">
          <div class="flex items-center justify-center bg-coal">
            <p class="text-sand brutal text-3xl">ALBUMS</p>
          </div>
          {
            releases.albums.map(({ link, image, copy, info }) => (
              <Card link={link} image={image} copy={copy} info={info} />
            ))
          }
        </div>
        <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-4 pb-4">
          <div class="flex items-center justify-center bg-coal">
            <p class="text-sand brutal text-3xl">EPs</p>
          </div>
          {
            releases.eps.map(({ link, image, copy, info }) => (
              <Card link={link} image={image} copy={copy} info={info} />
            ))
          }
        </div>
        <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3 pb-4">
          <div class="flex items-center justify-center bg-coal">
            <p class="text-sand brutal text-3xl">COLLABORATIONS</p>
          </div>
          {
            releases.collaborations.map(({ link, image, copy, info }) => (
              <Card link={link} image={image} copy={copy} info={info} />
            ))
          }
        </div>
        <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-4">
          <div class="flex items-center justify-center bg-coal">
            <p class="text-sand brutal text-3xl">COMPILATIONS</p>
          </div>
          {
            releases.compilations.map(({ link, image, copy, info }) => (
              <Card link={link} image={image} copy={copy} info={info} />
            ))
          }
        </div>
        <Footer links={["latest", "inside"]} />
      </div>
    </div>
  </main>
</Layout>
