---
const { link, image, copy } = Astro.props;
---

<div
  class="mx-auto border bg-gray-800 border-gray-700 w-full hover:animate-pulse"
>
  {
    link ? (
      <a href={link} target="_blank">
        <div class="aspect-w-1 aspect-h-1">
          <img src={image} class="object-cover" />
        </div>
        <div class="flex p-2 h-24 text-center aspect-none">
          <p class="my-auto mx-auto text-xs text-sand">{copy}</p>
        </div>
      </a>
    ) : (
      <div>
        <div class="aspect-w-1 aspect-h-1">
          <img src={image} class="object-cover" />
        </div>
        <div class="flex p-2 h-32 text-center aspect-none">
          <p class="my-auto mx-auto text-xs text-sand">{copy}</p>
        </div>
      </div>
    )
  }
</div>
