---
const { link, image, copy, info } = Astro.props;
---

<div class="mx-auto bg-coal w-full">
  {
    link ? (
      <a href={link} target="_blank">
        <div class="aspect-w-1 aspect-h-1">
          <img src={image} class="object-cover hover:animate-pulse" />
        </div>
        <div class="flex p-2 h-24 w-[80%] text-left aspect-none">
          <div class="mx-auto">
            <p class="text-xs text-sand acumin">{copy}</p>
            <p class="text-xs text-sand acumin">
              <em>{info}</em>
            </p>
          </div>
        </div>
      </a>
    ) : (
      <div>
        <div class="aspect-w-1 aspect-h-1">
          <img src={image} class="object-cover" />
        </div>
        <div class="flex p-2 h-36 lg:h-24 w-[80%] text-left aspect-none">
          <div class="mx-auto">
            <p class="text-xs text-sand acumin">{copy}</p>
          </div>
        </div>
      </div>
    )
  }
</div>
